
* {
    font-family: Arial;
    word-break: normal;
    overflow: hidden;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

p {
    text-align: justify;
}

.radio {
    margin: 0.25rem;
}

button {
    margin: 0.25rem 0;
}



.sidebar {
    width: auto;
    height: 100%;
    padding: 2rem;
    overflow: normal;

    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
}

.slider {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    margin: 0.75rem 0;
}

.slider-slide {
    flex-grow: 1;
}

.slider-value {
    text-align: right;
}

.link-box p {
    text-align: right;
}



.grid {
    display: grid;
}

.three-one {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 100%;
}

.flex-box {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-centered {
    align-items: center;
    justify-content: center;
}

.back-black {
    background-color: black;
}

@media (max-height: 700px), (max-width: 1250px) {
    .info-box p {
        display: none;
    }

    .slider {
        flex-direction: column;
    }
}
