@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    word-break: normal;
    overflow: hidden;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

nav {
    height: 75px;
    width: 100%;
    background: #060b0f;
    color: white;
    padding: 1rem 1rem;

    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.arrow-back {
    padding: 0 0.5rem 0 0.5rem;
    transform: rotate(180deg);
}

.heading {
    font-weight: 700;
    letter-spacing: 0.05rem;
}
 
#burger {
    padding: 0 0.5rem 0 0.5rem;
}

h1 {
    margin: 0;
}

p {
    text-align: justify;
}

.radio {
    margin: 0.25rem;
}

button {
    margin: 0.25rem 0;
}

#canvas-container {
    width: 100%;
    height: calc(100vh - 75px);
}

#sidebar {
    display: block;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

#sidebar.closed, #info.closed p {
    display: none;
}

.info-box {
    padding: 2rem 2rem 0 2rem;
}

.slider {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    margin: 0.75rem 0;
}

.slider-slide {
    flex-grow: 1;
}

.slider-value {
    text-align: right;
}

#extra-info {
    padding: 0.5rem 0;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}

#extra-info.closed {
    display: none;
}

.link-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.link-box a {
    z-index: 5;
    width: 100%;
    height: 60px;
    color: black;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    transition: 0.5s;
    
}

.link-box a:hover {
    background-color: #f0f5f9;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
}



.grid {
    display: grid;
}

.three-one {
    height: calc(100vh - 75px);
    grid-template-columns: 3fr 1fr;
}

.flex-box {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-centered {
    align-items: center;
    justify-content: center;
}

.back-colour {
    background-color: #0E1A24;
}

@media (max-width: 1250px) {
    .slider {
        flex-direction: column;
    }
}
